.home__slider {
	position: relative;
	width: 628px;
	height: 369px;
	border-radius: 20px;
	/* background-color: #fdbc71; */
	border: 1px solid #1c383c;
	cursor: col-resize;
	overflow: hidden;
}

@media (max-width: 1024px) {
	.home__slider {
		width: 492px;
		height: 289px;
		border-radius: 3px;
	}
}

@media (max-width: 495px) {
	.home__slider {
		width: 342.76px;
		height: 201px;
		margin-right: 20px;
	}
}

/* style={{
	width: 628,
	height: 369,
	borderRadius: '20px',
	border: '1px solid #1C383C ',
	overflow: 'hidden',
}}> */
