@import url(__container/modal__container.css);
@import url(__button/modal__button.css);
@import url(_open/modal_open.css);
@import url(__overlay/modal__overlay.css);

.modal {
	background-color: #00000048;
	display: flex;
	align-items: center;
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5;
	transform: 'translate(-50%, -50%)';
}
