.partners__list {
	display: flex;
	list-style: none;
	margin: 0 auto;
	padding: 0;
	width: 50.1%;
	/* margin: 0 auto; */
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}
@media (max-width: 1024px) {
	.partners__list {
		width: 70.5%;
		align-items: top;
	}
}
