.impact__bars {
  position: absolute;
  width: 241px;
  height: 143px;
  display: flex;
  align-self: center;
  top: -103px;
  background-image: url(../../../images/bars.png);
  background-size: contain;
  z-index: -1;
}