.home__slider-container {
	max-width: 628px;
	position: relative;
}
@media (max-width: 1024px) {
	.home__slider-container {
		margin: 20px 0 0 0;
	}
}
@media (max-width: 768px) {
	.home__slider-container {
		margin: 0;
	}
}

/* @media (min-width: 424px) and (max-width: 493px) {
	.home__slider-container {
		max-width: 242px;
		margin: 0 auto;
	}
} */
@media (max-width: 495px) {
	.home__slider-container {
		max-width: 342px;
	}
}
@media (max-width: 425px) {
	.home__slider-container {
		max-width: 342px;
	}
}
