.partners__heading {
	font-family: 'Spline Sans', 'sans-serif';
	font-style: normal;
	font-weight: 400;
	font-size: 44px;
	line-height: 52px;
	text-align: center;
	color: #1c383c;
	margin: 0 0 101px 0;
	padding: 0;
}
