.modal__button {
	background-image: url('../../../images/closebtn.svg');
	background-position: center;
	/* border: 1px solid red; */
	border: none;
	width: 40px;
	height: 40px;
	margin-left: 708px;
	margin-top: 12px;
}

@media (max-width: 1024px) {
	.modal__button {
		margin-left: 508px;
	}
}
@media (max-width: 425px) {
	.modal__button {
		margin-left: 90%;
		width: 30px;
		height: 30px;
	}
}
