.pricing__header {
	font-family: 'Spline Sans', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 44px;
	line-height: 52px;
	color: #1c383c;
	margin: 0 0 40px 0;
	padding: 0;
}

@media (max-width: 768px) {
	.pricing__header {
		font-size: 30px;
		line-height: 42px;
	}
}
