.footer__terms {
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 80px 80px 60px 80px;
}

@media (max-width: 767px) {
  .footer__terms {
    flex-direction: column;
    gap: 16px;
    padding: 50px 16px 60px;
  }
}