.about__center-text {
  position: absolute;
  top: 395px;
  left: 640px;
  font-family: 'Spline Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #ff9820;
}