.solution__card {
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  max-width: 1212px;
  width: calc(100vw - 96px);
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 767px) {
  .solution__card {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
}