.team__heading {
	font-family: 'Spline Sans', 'sans-serif';
	font-style: normal;
	font-weight: 400;
	font-size: 44px;
	line-height: 52px;
	text-align: center;
	color: #1c383c;
	margin: 0 0 80px 0;
	padding: 0;
}

@media (max-width: 767px) {
	.team__heading {
		font-size: 35px;
		line-height: 33px;
		margin: 0 0 40px;
	}
}
