.problem__cards {
	margin-top: 80px;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	width: 1160.01px;
	justify-content: space-between;
}
@media (max-width: 1024px) {
	.problem__cards {
		width: 100%;
	}
}
