.navbar__button_mobile {
  display: flex;
  width: 200px;
  height: 60px;
  border-radius: 3px;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  justify-content: center;
  align-content: center;
  margin-top: 88px;
}