.navbar__items_mobile {
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  padding-top: 117px;
  text-align: center;
  align-content: center;
}