.problem__chart {
	width: 347px;
	height: 348px;
	/* background-color: white; */
	background-image: url('../../../images/single-use-chart.svg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
