.impact__circles {
  position: absolute;
  width: 249px;
  height: 118px;
  display: flex;
  align-self: center;
  z-index: -1;
  top: -91px;
  background-image: url(../../../images/circles.png);
  background-size: contain;
}