.pricing__info {
	font-family: 'Spline Sans', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	width: 56%;
	padding: 0;
	margin: 0 0 240px;
}

@media (max-width: 767px) {
	.pricing__info {
		margin: 0 0 120px;
		width: 100%;
	}
}
@media (max-width: 1024px) {
	.pricing__info {
		width: 80%;
	}
}
@media (max-width: 768px) {
	.pricing__info {
		margin: 0 0 140px 0;
		width: 100%;
	}
}
