.navbar__content {
  margin: 0 auto;
  display: flex;
	justify-content: space-between;
	width: 100%;
  max-width: 1440px;
}

@media (max-width: 767px) {
  .navbar__content {
    /* flex-direction: column; */
  }
}