.solution__carousel {
  max-width: 1440px;
  width: 100%;
  margin: 40px auto 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@media (max-width: 767px) {
  .solution__carousel {
    width: calc(100vw - 32px);
  }
}