.about__arrow_1 {
  grid-row: 1;
  grid-column: 3;
  background-image: url(../../../../images/arrow1.png);
  background-repeat: no-repeat;
  background-size: contain;
}

@media (max-width: 767px) {
  .about__arrow_1 {
    align-self: center;
    background-image: url(../../../../images/arrow5.svg);
    color: #1c383c;
  }
}