@import url('./__heading/team__heading.css');
@import url('./__list/team__list.css');
@import url('./__list-item/team__list-item.css');
@import url('./__image/team__image.css');
@import url('./__image-wrapper/team__image-wrapper.css');
@import url('./__name/team__name.css');
@import url('./__title/team__title.css');
@import url('./__linkedin/team__linkedin.css');

.team {
}
