.footer__text {
  font-family: 'Spline Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  margin: 0;
}

.footer__text::first-line {
  padding-top: 10px;
}