.problem__header {
	font-family: 'Spline Sans', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 44px;
	line-height: 52px;
	color: #ffffff;
	margin: 0;
	padding: 0;
}
@media (max-width: 1024px) {
	.problem__header {
		width: 582px;
	}
}
