.chat__message {
  padding: 10px 12px;
  font-family: 'Spline Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #161616;
  max-width: 255px;
  width: 75%;
  margin: 0;
}