.footer__header {
  font-family: 'Spline Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 52px;
  color: #ffffff;
  margin: 0;
}

@media (max-width: 1279px) {
  .footer__header {
    font-size: 28px;
    line-height: 33.18px;
  }
}