@import url(__bars/impact__bars.css);
@import url(__card-header/impact__card-header.css);
@import url(__card-text/impact__card-text.css);
@import url(__card/impact__card.css);
@import url(__cards/impact__cards.css);
@import url(__circles/impact__circles.css);
@import url(__dot/impact__dot.css);
@import url(__header/impact__header.css);
@import url(__table/impact__table.css);


.impact {
  position: relative;
  background-color: #f4f4f4;
  height: 1671px;
}