@import url(./__items/navbar__items.css);
@import url(./__link/navbar__link.css);
@import url(./__button/navbar__button.css);
@import url(./__item/navbar__item.css);
.navbar {
	background: #ffffff;
	height: 80px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	/* justify-content: space-around; */
	position: fixed;
	z-index: 5;
	overflow: hidden;
}
