@import url(__button/navbar__button.css);
@import url(__button/_hide/navbar__button_hide.css);
@import url(__button/_mobile/navbar__button_mobile.css);
@import url(__content/navbar__content.css);
@import url(__item/navbar__item.css);
@import url(__items/navbar__items.css);
@import url(__items/_mobile/navbar__items_mobile.css);
@import url(__link/navbar__link.css);
@import url(__link/_mobile/navbar__link_mobile.css);
@import url(__menu/navbar__menu.css);
@import url(__menu/_active/navbar__menu_active.css);
@import url(__right/navbar__right.css);


.navbar {
	background: #ffffff;
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin: 0;
	height: 80px;
	position: fixed;
	z-index: 1;
	box-shadow: 0 2px 10px rgb(0 0 0 / 20%);
}

@media (max-width: 767px) {
	.navbar {
		height: 60px;
		box-shadow: none;
	}
}