@import url(./__items/navbar__items.css);
@import url(./__link/navbar__link.css);
@import url(./__button/navbar__button.css);
@import url(__content/navbar__content.css);
@import url(./__item/navbar__item.css);

.navbar {
	background: #ffffff;
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin: 0;
	height: 80px;
	position: fixed;
	z-index: 1;
}
