.footer__columns {
  max-width: 1440px;
  margin: 0 auto;
  padding: 80px 80px 60px 80px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .footer__columns {
    padding: 60px 16px;
    flex-direction: column;
    gap: 80px;
  }
}