@import url(./__link/logo__link.css);
@import url(./__text/logo__text.css);
@import url(./__image/logo__image.css);
.logo {
	margin: auto 20px;
	align-self: center;
	justify-self: center;
}
@media (max-width: 1024px) {
	.logo {
		margin: auto 37px auto 20px;
	}
}
