.impact__header {
  position: relative;
  width: 816px;
  font-family: 'Spline Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 52px;
  text-align: center;
  color: #1c383c;
  margin: 0 auto;
  padding-top: 120px;
  z-index: 2;
}