.impact__cards {
	position: relative;
	display: flex;
	justify-content: space-evenly;
	margin: 60px auto 0;
	max-width: 1440px;
	/* z-index: 2; */
}


@media (max-width: 999px) {
	.impact__cards {
		flex-direction: column;
		gap: 117px;
		margin: 101px auto;
		align-items: center;
	}
}