.pricing__dialogue {
	margin: 0 auto 91.45px;
}

@media (max-width: 1024px) {
	.pricing__dialogue {
		margin-bottom: 87px;
		width: 70%;
	}
}
/* @media (max-width: 768px) {
	.pricing__dialogue {
		margin-bottom: 51.45px;
	}
} */
@media (max-width: 767px) {
	.pricing__dialogue {
		margin: 0 auto 60.49px;
		content: url(../../../images/pricing3.svg);
		width: 336px;
	}
}
