@import url(./__container/problem__container.css);
@import url(./__info-container/problem__info-container.css);
@import url(./__chart/problem__chart.css);
@import url(./__info/problem__info.css);
@import url(./__info/problem__info.css);
@import url(./__header-container/problem__header-container.css);
@import url(./__header/problem__header.css);
@import url(./__text/problem__text.css);
@import url(./__text-span/problem__text-span.css);
@import url(./__cards/problem__cards.css);
@import url(./__card/problem__card.css);
@import url(./__card-image/problem__card-image.css);
@import url(./__card-text/problem__card-text.css);

.problem {
	/* height: 1037px; */
	background-color: #1c383c;
	width: 100vw;
	padding: 120px 0;
	/* padding: auto; */
}
