.team__list {
	list-style: none;
	margin: 0 auto;
	padding: 0;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	width: 55.5%;
	margin-bottom: 120px;
}
@media (max-width: 1024px) {
	.team__list {
		width: 78.125%;
		justify-content: space-between;
	}
}
@media (max-width: 376px) {
	.team__list {
		/* flex-wrap: wrap; */
		flex-direction: column;
		justify-content: center;
	}
}
