.solution__text {
  font-family: 'Spline Sans', sans-serif;
  font-style: normal;
  font-weight: 400px;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #000;
  max-width: 598px;
  margin: 0 auto;
  padding: 40px 0 0 0;
}