.team__name {
	margin: 20px 0 0 0;
	padding: 0;
	font-family: 'Spline Sans', 'sans-serif';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 28px;
	text-align: center;
	color: #1c383c;
}
