@import url(_end/impact__table-cell_end.css);
@import url(_low/impact__table-cell_low.css);
@import url(_none/impact__table-cell_none.css);

.impact__table-cell {
  color: #1c383c;
  border-bottom: 1px solid #B6B6B6;
  border-right: 1px solid #B6B6B6;
  margin: 0;
  text-align: center;
}