.impact__table {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(8, 82px);
	max-width: 1200px;
	background-color: #ffffff;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
	border-radius: 3px;
	white-space: normal;
	margin: 60px auto 0;
}

@media (max-width: 1279px) {
	.impact__table {
		max-width: calc(100vw - 40px);
	}
}

@media (max-width: 1023px) {
  .impact__table {
		max-width: unset;
		margin: 40px 20px 0;
		width: 984px;
	}
}