.impact__table {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(8, 82px);
  margin: 60px auto 0;
  max-width: 1200px;
  background-color: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  z-index: 1;
}