.home__visuals {
	display: flex;
	justify-content: space-between;
	/* flex-wrap: wrap; */
	margin: 0;
	align-items: flex-end;
	width: 100%;
}
@media screen and (max-width: 1024px) {
}

@media (max-width: 1023px) {
	.home__visuals {
		flex-direction: column;
		gap: 60px;
		/* max-width: 342px; */
	}
}
@media (max-width: 768px) {
	.home__visuals {
		width: 67.6%;
		margin: 0 auto;
	}
}
@media (max-width: 425px) {
	.home__visuals {
		width: 100%;
		margin: 0 auto;
	}
}
