.impact__card-text {
  font-family: 'Spline Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #1c383c;
  max-width: 596px;
  margin: 20px auto 0;
}

@media (max-width: 767px) {
  .impact__card-text {
    max-width: 323px;
  }
}