.impact__card-content {
  margin: 0;
  z-index: 1;
  background-color: #ffffff;
  width: 660px;
  height: 433px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

@media (max-width: 1400px) {
  .impact__card-content {
    max-width: 482px;
  }
}

@media (max-width: 533px) {
  .impact__card-content {
    max-width: 343px;
  }
}