.about__arrow_4 {
  grid-row: 1;
  grid-column: 1;
  justify-self: flex-end;
  background-image: url(../../../../images/arrow4.png);
  background-repeat: no-repeat;
  background-size: contain;
}

@media (max-width: 767px) {
  .about__arrow_4 {
    background-image: url(../../../../images/circular.svg);
    align-self: center;
    width: 70px;
    height: 84.5px;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 auto;
  }
}