@import url(_1/about__text_1.css);
@import url(_2/about__text_2.css);
@import url(_3/about__text_3.css);
@import url(_4/about__text_4.css);

.about__text {
  position: absolute;
  font-family: 'Spline Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #1c383c;
  width: 420px;
  margin: 0;
}