.impact__card-header {
  font-family: 'Spline Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #ff9820;
  margin: 0 auto;
  padding-top: 45px;
}