@import url(./vendor/normalize.css);
@import url(./blocks/navbar/navbar.css);
@import url(./blocks/logo/logo.css);
@import url(./blocks/home/home.css);
@import url(./blocks/problem/problem.css);
@import url(./blocks/solution/solution.css);
@import url(./blocks/about/about.css);
@import url(./blocks/impact/impact.css);
@import url(./blocks/pricing/pricing.css);
@import url(./blocks/team/team.css);
@import url(./blocks/partners/partners.css);
@import url(./blocks/footer/footer.css);

html,
body {
	margin: 0;
	width: 100%;
	/* background-color: #000; */
	height: 100%;
	min-height: 100%;
	padding: 0;
	font-family: 'Spline Sans', sans-serif;
}
