.pricing__button {
	background: #ff9820;
	border-radius: 3px;
	font-family: 'Spline Sans', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 28px;
	padding: 16px 29px;
	color: #ffffff;
	border: none;
}
