.navbar__button {
	font-family: 'Spline Sans', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	color: #ffffff;
	border: none;
	padding: 13px 24px;
	background-color: #ff9820;
	border-radius: 10px;
	margin: 0 40px 0 40px;
	width: 132px;
}

.navbar__button:hover {
	background-color: #e78819;
}
@media (max-width: 1024px) {
	.navbar__button {
		margin: auto 20px auto 20px;
	}
}
