.navbar__button {
	font-family: 'Spline Sans', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	color: #ffffff;
	border: none;
	padding: 13px 24px;
	background-color: #ff9820;
	border-radius: 10px;
	margin: auto 40px;
	width: 132px;
	height: 44px;
	transition: background-color 0.25 linear;
}

.navbar__button:hover {
	background-color: #e78819;
	cursor: pointer;
}
@media (max-width: 1212px) {
	.navbar__button {
		margin: auto 20px;
	}
}

@media (max-width: 767px) {
	.navbar__button {
		display: none;
	}
}