@import url('./__heading/form__heading.css');
@import url('./__input-wrapper/form__input-wrapper.css');
@import url('./__input-label/form__input-label.css');
@import url('./__input-error/form__input-error.css');
@import url('./__input/form__input.css');
@import url('./__textarea/form__textarea.css');
@import url('./__button/form__button.css');
@import url('./__invalid-border/form__invalid-border.css');
@import url('./__invalid-button/form__invalid-button.css');
.form {
	max-width: 600px;
	margin: auto;
	padding-bottom: 40px;
}
