.pricing__text {
	margin: 32px 0 0;
	width: 41%;
	font-family: 'Spline Sans', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
}

@media (max-width: 767px) {
	.pricing__text {
		width: 100%;
		max-width: 343px;
	}
}